a{
   text-decoration-line: none;
}

.b-header__container{
    display: flex;
    justify-content: space-between;
}

.b-header__signin{
    margin-top: 0;
}

.b-header__borde{
    border-bottom:1px solid;
    border-color: rgb(226, 223, 223);
}

main{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.b-main__btn{
    display:flex;
    justify-content:flex-start ;
}

.btn__google{
    background-image: url(google.png);
    border:0px;
    background-repeat: no-repeat;
    height: 37px;
    width:190px;
    border-radius: 3px;
    margin-right: 15px;
}

.btn__fb{
    background-image: url(fb.png);
    border:0px;
    background-repeat: no-repeat;
    height: 37px;
    width:245px;
    border-radius: 3px;
    margin-right: 15px;
}

.margen-top-menor{
    margin-top:3px
}

.b-form__fieldset{
    border-style: none;
}

.b-form__campos{
    border-radius: 3px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    width: 450px;
}

.b-form__checkbox{
    width: 20px;
    height: 15px;
    margin-top: 10px;
}

.b-form__createaccount{
    border-style: dashed;
    border-color: rgb(199, 191, 191);
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 220px;
    font-weight:800;
    color:rgb(199, 191, 191);
    margin-left: 10px;
    margin-top:10px
    }

footer{
  margin-top: 150px;
border-top:1px solid;
border-color: rgb(226, 223, 223);
padding-top:15px;
}
.b-footer__dflex{
        display: flex;
        justify-content: flex-start;
}

.b-footer__copyright{
 margin-right: 100px;
 margin-left: 50px;
}

.b-footer__margenlateral{
    margin-left: 20px;
    margin-right: 20px;

}